
/* Status Report Styles */

.home-container {
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding: 2rem;
}

.sthead {
  font-size: 4rem;
  color: white;
  margin-top: -42%;
}

.center {
  position: relative;
  top: 3.125rem;
  left: 2.5rem;
  height: 18.6875rem;
  width: 70rem; /* Reduce the width as needed */
  background: #fff;
  border-radius: 0.1875rem;
  overflow: hidden;
  box-shadow: 0.625rem 0.625rem 0.9375rem 0 rgba(0, 0, 0, 1.6);
  margin: 0 auto; /* Center the .center element */
}

.status-table {
  background-color: white;
  border-radius: 0.1875rem;
  box-shadow: 0.625rem 0.625rem 0.9375rem 0 rgba(0, 0, 0, 1.6);
  overflow: hidden;
  margin-top: -40%;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 20%;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 1rem;
  border-bottom: 0.0625rem solid #e1cfc2;
  font-size: 1.8rem;
}

th {
  background: #f5e8df;
  color: #8432f0;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background: #f5e8df;
}

/* Status Light Styles */
.status-light {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.5rem;
}

.green {
  background-color: #2ecc71; /* Green color */
}

.red {
  background-color: #e74c3c; /* Red color */
}
