
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
.frame {
  position: relative;
  margin-top: 3%;
  width: 90.25rem; /* Adjust the width of your box as needed */
  height: 25rem;
  border-radius: 2.75rem;
  box-shadow: 0.0625rem 0.125rem 0.625rem 0rem rgba(0, 0, 0, 0.3);
  background: #8432f0;
  background: linear-gradient(to top right, #6950f5 0%, #8432f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#6950f5", endColorstr="#8432f0",GradientType=1 );
  color: #8432f0;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: relative;
  top: 3.125rem;
  left: 2.5rem;
  height: 18.6875rem;
  width: 84rem;
  background: #fff;
  border-radius: 0.1875rem;
  overflow: hidden;
  box-shadow: 0.625rem 0.625rem 0.9375rem 0 rgba(0, 0, 0, 0.3);
}


.stats {
  float: left;
}
.stats .box {
  box-sizing: border-box;
  width: 7.5rem;
  height: 6.1875rem;
  background: #f5e8df;
  text-align: center;
  padding-top: 1.75rem;
  transition: all 0.4s ease-in-out;
}
.stats .box:hover {
  background: #e1cfc2;
  cursor: pointer;
}
.stats .box:nth-child(2) {
  margin: 0.0625rem 0;
}
.stats span {
  display: block;
}
.stats .value {
  font-size: 1.125rem;
  font-weight: 600;
}
.stats .parameter {
  font-size: 0.6875rem;
}
/* Status Report Styles */

.home-container {
  background: linear-gradient(to top right, #6950f5 0%, #8432f0 100%);
  text-align: center;
  padding: 2rem;
}

.sthead {
  font-size: 2rem;
  color: white;
  margin-top: 1rem;
  margin-top: -700px;
}

.center {
  position: relative;
  top: 3.125rem;
  left: 2.5rem;
  height: 18.6875rem;
  width: 70rem; /* Reduce the width as needed */
  background: #fff;
  border-radius: 0.1875rem;
  overflow: hidden;
  box-shadow: 0.625rem 0.625rem 0.9375rem 0 rgba(0, 0, 0, 1.6);
  margin: 0 auto; /* Center the .center element */
}

.status-table {
  background-color: white;
  border-radius: 0.1875rem;
  box-shadow: 0.625rem 0.625rem 0.9375rem 0 rgba(0, 0, 0, 1.6);
  overflow: hidden;
  margin-top: -666px;
  width: 60%; 
  margin-left: 270px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
  text-align: left;
  border-bottom: 0.0625rem solid #e1cfc2;
}

th {
  background: #f5e8df;
  color: #8432f0;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background: #f5e8df;
}

/* Status Light Styles */
.status-light {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.5rem;
}

.green {
  background-color: #2ecc71; /* Green color */
}

.red {
  background-color: #e74c3c; /* Red color */
}
