#root {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.gradient-background {
  background: linear-gradient(to bottom, #768488, #00d6a1); /* Adjust colors */
  padding: 20px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-size: 100% 100%; 
  position: relative; 
}


.toggle-button {
  background-color: #007acc;
  color: white; 
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.toggle-button:hover {
  background-color: #005b99; 
}

.toggle-button.active {
  background-color: #00cc99; 
  transform: scale(1.05); 
}

.review-section {
  background: linear-gradient(to bottom, #0099cc, #00cc99); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 0.5s ease-in; 
}


.review-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  animation: slideIn 0.5s ease-in-out; 
}


.review-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}


.review-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.review-form button:hover {
  background-color: #0056b3;
}

.review-section h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Animated slide-up effect */
@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animated fade-in effect */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply animations to elements with specific classes */
.animated-slide-up {
  animation: slide-up 0.5s ease forwards;
}

.animated-fade-in {
  animation: fade-in 0.5s ease forwards;
}

.section-space {
  margin-bottom: 100px; /
}

.section-title {
  font-size: 33 px;
  color: #333; 
}

.our-purpose {
  background-color: linear-gradient(to bottom, #00cc99, #0099cc, #005b99);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase the values here */
  margin: 20px 0;
  transition: box-shadow 0.3s ease; /* Optional: Add transition for smooth change */
}


.purpose-content {
  font-size: 18px;
  color: #555; 
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Horizontally center-align */
  margin-top: 20px;
}

/* Styling for the GIF */
.status-gif {
  max-width: 300px;
  margin-right: 20px;
  margin-left: 0; /* Remove the right margin and add left margin to move the GIF to the left */
}
/* Styling for the status labels */
.status-label {
  margin-right: 80px;
  font-size: 20px;
}

/* Styling for OK status */
.status-ok {
  color: #0cd033; /* OK status color */
}

/* Styling for problem status */
.status-problem {
  color: #ff3300; /* Problem status color */
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
